/VShopper/dist/
/VShopper/nbproject/private/
/VShopper/build/
/Database/DATA/VShopper.mdf
/Database/DATA/VShopper_log.ldf
/Database/DATA/HSF301_Assignment1.mdf
/Database/DATA/HSF301_Assignment1_log.ldf
